{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "never",
  "overrides": [
    { "files": ".webpackrc", "options": { "parser": "json" } },
    {
      "files": "**.ejs",
      "options": {
        "parser": "html"
      }
    },
    { "files": ".prettierrc", "options": { "parser": "json" } }
  ]
}
