**/fixtures/**/*.js
**/fixtures/**/*.ts
**/template/**/*.js
**/template/**/*.ts
**/templates/**/*.js
**/templates/**/*.ts
**/website/*.js
**/*.svg
package.json
.umi
.umi-production
/dist
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
coverage/**
*.sh
.gitkeep
*.sass
yarn.lock
*.tpl
.yarnrc
*.styl
*.wasm
.local
**/cache/**
.env
*.jpg